<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="refresh" content="60">
    <title>Twitch Carousel</title>
    <link href="/carousel.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>

    <div id="label1"><%= label1 %></div>
    <div id="label2"><%= label2 %></div>
    <div id="label3"><%= label3 %></div>
    <div id="label4"><%= label4 %></div>

  </body>
</html>
